#ToDo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}

.note{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 800px;

}
.inputField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:300px;
}

#deleteButton{
    display: flex;
    justify-content: center;
    height: 20px;

}

main{
    display: flex;
    justify-content: space-between;
}


aside{
    border-style: groove;
    border-color: black;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    padding: 0 0 0 16px;

    display: flex;
    flex-direction: column;
    gap: 80px;
}


.archive{
    display: block;
}

.btn_deleteAll{
    height: 20px;
}

#rewindArchiveButton{
    transform: scaleY(-1);
}

#rewindTrashButton{
font-weight: bold;
}

.subline{
    display: flex;
    flex-direction: column-reverse;
    width: 100px;
}

img{
    height: 20px;
    background-color: green;
    border-radius: 20px;
}

.btnIcon{
    background-color: transparent;
    border-color: transparent;
}

.btnIcon:hover{
    background-color: aqua;
    cursor: pointer;
}